@tailwind base; /* stylelint-disable-line scss/at-rule-no-unknown */
@tailwind components; /* stylelint-disable-line scss/at-rule-no-unknown */
@tailwind utilities; /* stylelint-disable-line scss/at-rule-no-unknown */

$menu-max-width: 64rem;
$primary: hsl(180deg, 4%, 82%);

@mixin styles {
    html {
        color-scheme: dark !important;
    }

    body {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
        margin: 0;
        padding: 0;
        font-size: 1rem;
        line-height: 1.25;
    }

    #content-root {
        padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
    }

    .oled {
        background: hsl(0deg 0% 0%);
    }
}
