@use "core";
@use "sass:color";

@include core.styles;

$button-hover-color: hsla(0deg, 0%, 100%, 10%);
$button-active-color: hsla(0deg, 0%, 100%, 20%);

.svg-btn {
    background: transparent;
    border: none;
    padding: 0.4rem;
    stroke: core.$primary;
    fill: none;
    height: auto;
    width: auto;

    &:hover {
        background: inherit;

        & svg {
            fill: $button-hover-color;
        }
    }

    &:active {
        background: inherit;

        & svg {
            fill: $button-active-color;
        }
    }
}

.oled {
    & .btn {
        background: transparent;
        border-color: core.$primary;
    }
}

.back-btn,
.fullscreen-btn {
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 50%;
    padding: 4px;
    z-index: 2;

    &:hover {
        background: $button-hover-color;
    }

    &:active {
        background: $button-active-color;
    }

    & svg {
        stroke: core.$primary;
        stroke-width: 3px;
        width: 32px;
        height: 32px;
    }
}

.fullscreen-btn {
    right: 0;
    left: auto;
    cursor: pointer;
}

.root-saved-games {
    width: 100%;
    justify-content: center;
    display: flex;

    & .content {
        max-width: core.$menu-max-width;
        width: 100%;
        margin-top: 2rem;
    }

    & .heading {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid core.$primary;
        padding-bottom: 0.5rem;

        & h1 {
            margin: 0;
        }

        & .new-game-btn {
            height: 3rem;
            line-height: 3rem;
            padding: 0 2rem;
        }
    }

    & .saved-game-list {
        & .heading {
            padding: 0.5rem 0 0;
            border-bottom: 1px solid color.adjust($color: core.$primary, $lightness: -50%);
        }

        & .games {
            padding-top: 1rem;

            & .game {
                display: flex;
                align-items: center;
                height: 5rem;

                & .players {
                    flex: 1;
                    padding: 0 1rem;
                }

                &:hover {
                    background-color: $button-hover-color;
                }
            }
        }
    }
}

.root-new-game {
    width: 100%;
    justify-content: center;
    display: flex;

    & .content {
        max-width: core.$menu-max-width;
        width: 100%;
        margin-top: 2rem;
    }

    & .player-row {
        display: flex;

        & .color {
            width: 32px;
            height: 32px;
        }
    }
}

.root-game {
    width: 100%;

    & .player {
        padding: 8px;
        position: relative;

        & .padding {
            display: flex;
            flex-direction: row;
            border: 1px solid hsl(200deg 100% 14%);
            border-radius: 4px;
            height: 10rem;
        }

        & .controls {
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-right: 8px;
        }

        & .history {
            flex: 0 0 40px;
            display: flex;
            flex-direction: column-reverse;
            padding-left: 4px;
            border-left: 1px solid hsl(200deg 100% 15%);
            margin-top: 8px;
            margin-bottom: 8px;
            overflow: hidden;
            text-align: center;

            & .neg {
                color: hsl(0deg 80% 40%);
            }

            & .pos {
                color: hsl(230deg 80% 46%);
            }
        }

        & .name {
            font-size: 1.5rem;
            user-select: none;

            & .score {
                display: inline;
                width: auto;
                border-radius: 50%;
                border: 1px solid hsl(200deg 100% 36%);
                background-color: hsl(200deg 100% 15%);
                position: absolute;
                padding: 4px;
                top: -4px;
                margin-left: 8px;
            }
        }

        & .score {
            width: 100%;
            display: flex;
            align-items: center;
            margin: 8px 0;

            & .btn {
                width: 3rem;
                padding: 0;
                font-size: 1.5rem;
            }

            & .value {
                flex: 1;
                text-align: center;
                font-size: 2.5rem;
                user-select: none;
            }
        }

        & .buttons {
            width: 100%;
            display: flex;
            justify-content: center;

            & .btn {
                max-width: 4rem;
                width: 24%;
                padding: 0;
                margin: 0 0.2rem;
            }
        }
    }
}
